################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hw1/Hw1/.vs/Hw1/v15/Browse.VC.opendb
/hw2/comparch22/comparch22
/hw2/comparch22
